<%= form_with(model: main_menu) do |form| %>
  <% if main_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_menu.errors.count, "error") %> prohibited this main_menu from being saved:</h2>

      <ul>
        <% main_menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui segment">
    <% form_with model: @main_menu do |form| %>
      <div>
        <h3>hi</h3>
        <%= form.text_field :name %>      
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
